# Global Ignores
.venv/
.yolo_config/
.tmp/
**/.env
**/__pycache__/
*.py[cod]
*.log
*.pt
.DS_Store

# Core App ignores
datasets/
runs/
evaluation/
"Mealawe 2.coco/"
"Mealawe 2.coco-segmentation/"

# Verification Pipeline Ignores
quality-verification/results/
quality-verification/Testing images/
